<div class="content">
    <div class="left">
        <div class="content-left"></div>
    </div>
    <div class="right">
        <div class="content-right">
            <div class="logo">
                <img src="./../../../assets/images/logo circular 2.png" alt="hosana-logo">
                <div class="logo-text">
                    <span class="hosana">HOSANA</span>
                    <hr>
                    <p class="logo-description">Centro de Terapia Física y Rehabilitación</p>
                </div>
            </div>
            <div class="frame">
                <label for="">Tipo de Usuario:</label>
                <input type="text" name="user" id="user">
                <label for="">Codigo de Usuario:</label>
                <input type="text" name="codigo" id="codigo">
                <label for="">Contraseña:</label>
                <input type="password" name="password" id="password">
                <input type="button" href='./main' class="button" value="INGRESAR">
            </div>
        </div>
    </div>
</div>