<div class="content">
    <div class="image">
        <div class="content-image"></div>
    </div>
    <div class="formulario">
        <div class="content-formulario">
            <div class="logo">
                <img src="./../../../assets/images/logo circular 2.png" alt="hosana-logo">
                <div class="logo-text">
                    <span class="hosana">HOSANA</span>
                    <hr>
                    <p class="logo-description">Centro de Terapia Física y Rehabilitación</p>
                </div>
            </div>
            <div class="frame">
                <label for="">Tipo de Usuario:</label>
                <select name="select">
                    <option value="value1" selected>Selected</option>
                    <option value="value2">Value 2</option>
                    <option value="value3">Value 3</option>
                  </select>
                <label for="">Codigo de Usuario:</label>
                <input type="text" name="codigo" id="codigo">
                <label for="">Contraseña:</label>
                <input type="password" name="password" id="password">
                <!-- pueba -->
                <input type="button" href='./main' routerLink="main" class="button" value="INGRESAR">
            </div>
        </div>
    </div>
</div>